@import './fonts';

@import './variables';

@import './headings';

body {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  background: $base-background-color;
  color: $base-font-color;
  font-family: $font-book;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (min-width: 540px) {
    font-size: $mobile-font-size;
  }
}

section {
  border-left: 1px solid #cecece;
  padding: 0 0 25px 25px;
  margin-left: 10px;
  opacity: 1;
  @media (min-width: 540px){
    padding-left: 50px;
  }
}


.font-bold {
  font-family: $font-bold;
}

.font-medium {
  font-family: $font-medium;
}

.font-book {
  font-family: $font-book;
}

.font-black {
  font-family: $font-black;
}

.c-icon {
  vertical-align: sub;
  fill: none;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.font-small {
  font-size: $base-font-size;
}

a {
  color: $accent-color;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $grad-color-1;
  }
}

button.btn {
  font-family: $font-bold;
  color: $font-color-light;
  background-color: $accent-color;
  border: none;
  text-transform: uppercase;
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out;
  &.cancel {
    color: $font-color-dark2;
    background-color: transparent;
    border: 1px solid #cecece;
    &:hover {
      background-color: $btn-cancel-hover-color;
    }
  }
  &:hover, 
  &:focus {
    background-color: $accent-color-dark;
  }
}

@import './topnav';
@import './main';
@import './card';
