@font-face {
  font-family: Circular Black;
  src: url('https://ome.ascap.com/fonts/lineto-circular-black.678b3387.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/lineto-circular-black.c8ccbc7b.ttf');
}

@font-face {
  font-family: Circular Bold;
  src: url('https://ome.ascap.com/fonts/lineto-circular-bold.6ca9638f.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/lineto-circular-bold.ea04057f.ttf');
}

@font-face {
  font-family: Circular Book;
  src: url('https://ome.ascap.com/fonts/lineto-circular-book.c541f8e1.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/lineto-circular-book.f25f54b0.ttf');
}

@font-face {
  font-family: Circular Medium;
  src: url('https://ome.ascap.com/fonts/lineto-circular-medium.8f516c4c.eot?#iefix')
      format('embedded-opentype'),
    url('/assets/fonts/lineto-circular-medium.d71f06b9.ttf');
}
