$font-black: 'Circular Black', sans-serif;
$font-medium: 'Circular Medium', sans-serif;
$font-book: 'Circular Book', sans-serif;
$font-bold: 'Circular Bold', sans-serif;
$base-font-color: #000;
$font-color-light: #fff;
$base-background-color: #fff;
$accent-color: #1178ce;
$accent-color-dark: #175da5;
$grad-color-1: #489cef;
$grad-color-2: #175da5;
$font-color-dark: #6d6d6d;
$font-color-dark2: #0d0d0d;
$btn-cancel-hover-color: #fafafa;
$card-header-color: #004183;
$card-border-color: #85868c;
$card-border-hover-color: #4dbdff;
$error-color: #CD3532;
$base-font-size: 14px;
$mobile-font-size: 16px;

@mixin card-shadow {
  -webkit-box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 15px -1px rgba(0, 0, 0, 0.5);
}

@mixin nav-gradient {
  background-image: linear-gradient(-135deg, $grad-color-1, $grad-color-2);
}
